# Исключить папку .vs (Visual Studio)
.vs/

# Исключить папки сборки (если используете C#)
bin/
obj/

# Исключить папку node_modules (если используете Node.js)
node_modules/

# Исключить файлы настроек IDE
.idea/
*.suo
*.user